.textareaClass {
    display: block;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    overflow-y: hidden;

    border: 0;
    outline: 0;
    background: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    color: #343434;
    margin-bottom: 10px;

    -webkit-box-shadow: 0 1px 1px #c0b6b6;
    -moz-box-shadow: 0 1px 1px #c0b6b6;
    box-shadow: 0 1px 1px #c0b6b6;
}