.sidebarContainer {
    grid-area: nav;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px lightgray;
    background-color: #4a206b;
}

.item {
    margin: 10px 0 0  30px;
    color: white;
    text-decoration: #fafafa;
}

.item .active {
    color: darkgray;
}

a {
    color: #ffffff;
}